body {
  color: darkslategrey;
  font-family: arial, sans-serif;
  font-size: 17px;
}

.text-center {
  text-align: center;
}

#copyright {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-family: 'audiowide', cursive;
  font-size:30px;
}

h2 {
  font-size:24px;
  background-color: lightskyblue;
  border-radius: 5px;
}

h1, h2, a, a:visited {
  color: darkblue;
}

a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 a, h1 a:visited {
  color: white;
}
h2 a, h2 a:visited {
  color: lightskyblue;
}
h1:hover a, h2:hover a {
  color: darkblue;
}
i.material-icons{
  font-size: 1rem;
}
p,i.material-icons{
  line-height: 1.5rem;
}
a.btn{
  font-size: 1.3rem;
}
a.btn:hover{
  color:white;
  background-color: darkblue;
  text-decoration: none;
}
#social{
  text-align: center;
}
#social a {
  color:white;
  font-size: 2rem;
}
#social .fa-facebook-square{
  color:navy;
}
#social .fa-twitter-square{
  color: dodgerblue;
}
#social .fa-linkedin-square{
  color:navy
}
/*CSS para impressão*/
@media print {
  body{
    color:black;
    font-family: times,serif;
  }
  h1 #ilon{
    text-align: left;
  }
  h2{
    background:unset;
  }
  h2 a .topo  {
    color:white;
  }
}